.cyborg {
  @include sizes(100%);
  margin-bottom: 20px;
}

.personnel-inscription {
  @include fonts($main-font, $semi-mini-font, $color-grey3, $inscription-line-height);
  letter-spacing: 4px;
  opacity: .7;
}

.personnel-title {
  @include fonts($main-font, $normal-font, $primary-title-color, $h3-title-line-height);
  padding: 10px 0 20px;
}

.personnel-desc {
  @include fonts($secondary-font, $extra-mini-font, $secondary-title-color, $paragraph-line-height);
  padding-bottom: 40px;
}

.link-personnel {
  @include rowing(null, center);
  padding-bottom: 100px;

  > .text-robotics {
    @include fonts($ginora-sans-semi-bold-font, $extra-mini-font, $color-salad2);
    padding-right: 15px;
  }

  > .arrow-right-green {
    @include sizes(25px, 12px);
    color: $color-purple2;
  }

  &:hover {
    > .text-robotics {
      color: $color-purple2;
    }

    > .arrow-right-green {
      color: $color-salad2;
    }
  }
}