.intro {
  padding-top: 90px;
}

.page-title {
  @include fonts(
    $ginora-sans-bold-font,
    clamp(42px, calc(42px + (33 * ((100vw - 360px) / 1080))), 75px),
    $primary-title-color,
    clamp(56px, calc(56px + (6 * ((100vw - 360px) / 340))), 62px)
  );
  background: conic-gradient(
    from 180deg at 50% 50%,
    $secondary-color -160.13deg,
    $primary-color 42.37deg,
    $secondary-color 199.87deg,
    $primary-color 402.37deg
  );
  background-clip: text;

  > .ai {
    color: transparent;
  }
}

.box-spiral {
  @include rowing(flex-end);
  @include sizes(null, 190px);
}

.spiral {
  transform: translateY(-70px);
}

.link-scroll {
  display: none;
}
