._grey-bg {
  background-color: $color-grey2;
}

._steel-bg {
  background-color: $color-grey;
}

@include desktop {
  ._flex-container {
    @include rowing(space-between);
    padding: 10% 0 7%;
  }
}