.investments-title {
  @include fonts($main-font, $semi-large-font, $primary-title-color, $h2-title-line-height);
  padding: 11.11vw 0 30px;

  > br {
    display: none;
  }
}

.investments-desc {
  @include fonts($secondary-font, $extra-mini-font, $secondary-title-color, $paragraph-line-height);
  padding-bottom: 60px;
}