.decisions-title {
  @include fonts($main-font, $semi-large-font, $primary-title-color, $h2-title-line-height);
  padding: 40px 0 30px;
}

.decisions-desc {
  @include fonts($secondary-font, $extra-mini-font, $secondary-title-color, $paragraph-line-height);
  padding: 0 10px 30px 0;
}

.link-project {
  @include rowing(null, center);
  padding-bottom: 60px;

  &:hover {
    > .text-project {
      color: $color-salad2;
    }

    > .arrow-right-green {
      color: $color-purple2;
    }
  }

  > .text-project {
    @include fonts($ginora-sans-semi-bold-font, $extra-mini-font, $color-purple2);
    padding-right: 10px;
  }

  > .arrow-right-green {
    @include sizes(25px, 12px);
    color: $color-salad2;
  }
}