@include desktop {
  .menu {
    padding: 31px 60px;
  }

  .menu-list {
    > .menu-list-left,
    > .menu-list-right {
      display: list-item;
    }
  }

  .item-right {
    display: list-item;
  }

  .left-list, .right-list {
    @include rowing();
  }

  .link-menu {
    @include fonts($main-font, $extra-mini-font, $color-white2);
  }
}