.hero {
  display: none;
}

.menu {
  padding: 31px 5.55vw;
  background-color: $color-grey;
}

.menu-list {
  @include rowing(space-between, center);

  > .menu-item {
    display: none;
  }

  > .menu-item-icon {
    @include sizes(null, 20px);
  }
}

.link-menu {
  @include fonts($main-font, $extra-mini-font, $color-white2);
}

#menu-toggle {
  display: none;
}
#menu-toggle:checked + .menu-list {
  flex-direction: column;

  > .menu-item-logo {
    display: none;
  }

  > .menu-item-icon {
    order: -1;
    margin-left: auto;
    padding-top: 4.1px;
  }

  > .menu-item.-left {
    &:first-child {
      padding-top: 40px;
    }
  }

  > .menu-item.-left,
  > .menu-item.-right {
    display: inline;
    padding: 15px 0;
  }
}


.logo {
  @include sizes(85px, 25px);
  color: $color-white;
}

.box-icon-menu {
  @include sizes(20px, 20px);
  display: inline-block;
  color: $color-grey;
  background: conic-gradient(from 90deg at 50% 50%, $secondary-color -160.13deg, $primary-color 42.37deg, $secondary-color 199.87deg, $primary-color 402.37deg);

  > .icon-menu {
    @include sizes(100%, 100%);
  }
}

