@include desktop {
  .hero {
    display: block;
  }

  .header {
    padding-top: 30px;
  }

  .menu {
    position: relative;
    max-width: 1160px;
    margin: 0 auto;
    padding: 31px 60px;
  }

  .menu-list {
    justify-content: start;

    > .menu-item {
      display: inline-block;
      @include sizes(null, 14px);
    }

    > .menu-item-logo {
      margin: 0 auto;
    }

    > .menu-item-icon {
      @include sizes(null, 12px);
      padding-left: 5px;
    }

    > .menu-item.-left {
      padding-right: 30px;
    }

    > .menu-item.-right {
      padding-left: 30px;
    }
  }

  #menu-toggle:checked + .menu-list {
    > .menu-item-icon {
      padding-top: 8.1px;
    }

    > .menu-item.-left,
    > .menu-item.-right {
      padding-top: 30px;
    }
  }

  .box-icon-menu {
    @include sizes(12px, 12px);

    > .icon-menu {
      margin-bottom: 2px;
    }
  }
}